## MYSQL ASSIGNMENT

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that is stored and accessed electronically. It is designed to facilitate data management and retrieval for various applications.

SQL and NoSQL are two different types of databases that differ in their structure and approach to data management:

SQL (Structured Query Language) databases are relational databases that use tables to store data. SQL databases are based on the relational model, where data is organized into tables, and relationships between tables are defined by primary and foreign keys. SQL databases are ideal for applications where data is structured and requires complex querying.

NoSQL (Not only SQL) databases are non-relational databases that use a variety of data models to store and manage data. NoSQL databases are designed for applications that require scalability and flexibility in their data structures. NoSQL databases can handle large volumes of unstructured and semi-structured data, making them ideal for big data applications.

The main differences between SQL and NoSQL databases are as follows:

1. Data Model: SQL databases have a rigid, predefined data model based on tables, while NoSQL databases can have different data models such as key-value pairs, document-based, graph-based, or column-family based.

2. Scalability: NoSQL databases are more scalable than SQL databases because they can easily handle large volumes of data and are designed to work in distributed environments.

3. Querying: SQL databases use SQL to query data, while NoSQL databases use various APIs or query languages, depending on the data model used.

4. Data Integrity: SQL databases enforce data integrity rules, such as constraints and foreign keys, to ensure data consistency, while NoSQL databases do not enforce such rules.

5. ACID Compliance: SQL databases are generally ACID (Atomicity, Consistency, Isolation, Durability) compliant, which ensures that data transactions are reliable and consistent, while NoSQL databases may or may not be ACID compliant.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL statements used to define and manage the structure of database objects such as tables, indexes, and constraints. The four most commonly used DDL statements are CREATE, DROP, ALTER, and TRUNCATE, each of which serves a specific purpose:

1. CREATE: The CREATE statement is used to create a new database object such as a table or index. For example, the following SQL statement creates a new table named "customers" with columns for customer ID, name, and email address:

In [ ]:
CREATE TABLE customers (
   customer_id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(50)
);

2. DROP: The DROP statement is used to remove a database object such as a table or index. For example, the following SQL statement drops the "customers" table:

In [ ]:
DROP TABLE customers;

3. ALTER: The ALTER statement is used to modify the structure of a database object such as a table or index. For example, the following SQL statement adds a new column "phone_number" to the "customers" table:

In [ ]:
ALTER TABLE customers ADD COLUMN phone_number VARCHAR(20);

4. TRUNCATE: The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. For example, the following SQL statement removes all data from the "customers" table:

In [ ]:
TRUNCATE TABLE customers;

In summary, DDL statements such as CREATE, DROP, ALTER, and TRUNCATE are used to define, modify, and remove the structure of database objects. These statements are essential for managing the database schema and ensuring data integrity.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL statements used to manage the data within a database. The three most commonly used DML statements are INSERT, UPDATE, and DELETE, each of which serves a specific purpose:

1. INSERT: The INSERT statement is used to insert new data into a table. For example, the following SQL statement inserts a new record into the "customers" table:

In [ ]:
INSERT INTO customers (customer_id, name, email) VALUES (1, 'sush_karjagi', 'sushkarj@gmail.com');

2. UPDATE: The UPDATE statement is used to modify existing data in a table. For example, the following SQL statement updates the email address of the customer with ID 1 in the "customers" table:

In [ ]:
UPDATE customers SET email = 'sushkarj@gmail.com' WHERE customer_id = 1;

3. DELETE: The DELETE statement is used to remove data from a table. For example, the following SQL statement deletes the customer with ID 1 from the "customers" table:

In [ ]:
DELETE FROM customers WHERE customer_id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a set of SQL statements used to retrieve data from a database. The most commonly used DQL statement is SELECT, which is used to query data from one or more tables.

The SELECT statement retrieves data from a table or view and returns a result set that can be displayed or used for further processing. The basic syntax of the SELECT statement is as follows:

In [ ]:
SELECT column1, column2, ... FROM table_name;

Here, "column1, column2, ..." are the names of the columns to retrieve, and "table_name" is the name of the table from which to retrieve data. For example, the following SQL statement retrieves all columns from the "customers" table:

In [ ]:
SELECT * FROM customers;

The SELECT statement can also include a WHERE clause to filter the results based on specific conditions. For example, the following SQL statement retrieves customers whose name is "John Doe":

In [ ]:
SELECT * FROM customers WHERE name = 'sush_karjagi';

In addition to filtering, the SELECT statement can also be used to aggregate data using functions such as SUM, COUNT, AVG, MIN, and MAX. For example, the following SQL statement retrieves the total number of customers in the "customers" table:

In [ ]:
SELECT COUNT(*) FROM customers;

In summary, SELECT is a DQL statement used to retrieve data from a database. It can be used to retrieve data from one or more tables, filter the results based on specific conditions, and aggregate data using functions.

Q5. Explain Primary Key and Foreign Key.

In a relational database, a primary key and a foreign key are two types of constraints that are used to establish relationships between tables.

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. It is used to ensure that each row in the table can be uniquely identified and to enforce data integrity constraints. The primary key must be unique, not null, and must have a unique value for each row in the table.

For example, in a table of customers, the "customer_id" column could be used as the primary key, as each customer would have a unique identifier.

A foreign key is a column or a set of columns in one table that references the primary key of another table. It is used to establish a relationship between two tables based on the values of these columns. A foreign key constraint ensures that data in the child table corresponds to data in the parent table. In other words, it ensures that the values in the foreign key column exist in the primary key column of the referenced table.

For example, in a table of orders, a "customer_id" column could be used as a foreign key to reference the "customer_id" column in the "customers" table. This establishes a relationship between the orders and the customers, ensuring that each order corresponds to a valid customer.

In summary, a primary key is used to uniquely identify rows in a table, while a foreign key is used to establish a relationship between two tables based on the values of the primary key and foreign key columns. These constraints are essential for maintaining data integrity and ensuring consistency in a relational database.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the mysql-connector-python library. Here is a simple example code:

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for result in results:
  print(result)

In the above code, we first import the mysql.connector library and use it to connect to the MySQL database by providing the host, user, password, and database name. We then create a cursor object using the cursor() method, which allows us to execute SQL queries on the database.

The execute() method is used to execute a SQL query on the database. It takes a SQL query as its parameter and returns the number of affected rows. In the above example, we execute a SELECT statement to retrieve all records from the "customers" table.

After executing the query, we use the fetchall() method to retrieve all the rows returned by the query. This method returns a list of tuples, where each tuple represents a row of data. Finally, we loop through the results and print them to the console.

In summary, the cursor() method is used to create a cursor object that allows us to execute SQL queries on the database, while the execute() method is used to execute a SQL query on the database. These methods are essential for working with databases in Python

Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are executed in the following order:

FROM clause: The FROM clause specifies the tables or views from which to retrieve data. It is the first clause to be executed in an SQL query.

WHERE clause: The WHERE clause filters the data retrieved from the tables based on specific conditions. It is executed after the FROM clause.

GROUP BY clause: The GROUP BY clause groups the data retrieved from the tables based on one or more columns. It is executed after the WHERE clause.

HAVING clause: The HAVING clause filters the grouped data based on specific conditions. It is executed after the GROUP BY clause.

SELECT clause: The SELECT clause specifies the columns to retrieve from the tables or views. It is executed after the GROUP BY and HAVING clauses.

ORDER BY clause: The ORDER BY clause sorts the retrieved data based on one or more columns. It is executed after the SELECT clause.

LIMIT clause: The LIMIT clause limits the number of rows returned by the query. It is the last clause to be executed in an SQL query.

In summary, the clauses in an SQL query are executed in the order: FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY, and LIMIT.